Library
/MovieStudio/MovieStudio.CSharp.Plugins.csproj
/MovieStudio/MovieStudio.sln
/MovieStudio/MovieStudio.v12.suo
/MovieStudio/MovieStudio.CSharp.csproj
/MovieStudio/MovieStudio.CSharp.Editor.csproj
